<% layout('layouts/boilerplate') %>
  <form action="/cart/add" method="POST">
    <table class="table table-striped">
      <thead class="table-dark">
        <tr>
          <th>선택</th>
          <th>상품명</th>
          <th>카테고리</th>
          <th>사이즈</th>
          <th>남은 수량</th>
          <th>선택 수량</th>
          <th>가격</th>
        </tr>
      </thead>
      <tbody>
        <% products.forEach(product=> { %>
          <% product.sizes.forEach(size=> { %>
            <tr>
              <td><input type="checkbox" class="form-check-input" name="items[]"
                  value="<%= product._id %>_<%= size.size %>"></td>
              <td>
                <%= product.name %>
              </td>
              <td>
                <%= product.category %>
              </td>
              <td>
                <%= size.size %>
              </td>
              <td>
                <%= size.quantity %>
              </td> <!-- 남은 수량 표시 -->
              <td>
                <input type="number" name="quantities[]" class="form-control" value="1" min="1"
                  max="<%= size.quantity %>">
              </td>
              <td>
                <%= product.price %>
              </td>
            </tr>
            <% }) %>
              <% }) %>
      </tbody>
    </table>
    <button type="submit" class="btn btn-primary">장바구니에 담기</button>
  </form>